<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ry.bakingapp">

    <!-- request internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pages.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.detail.DetailActivity"
            android:parentActivityName=".pages.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.home.MainActivity" />
        </activity>
        <activity
            android:name=".pages.detailstep.DetailStepActivity"
            android:parentActivityName=".pages.detail.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.detail.DetailActivity" />
        </activity>

        <receiver android:name=".widget.RecipeIngredientsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_ingredients_widget_info" />
        </receiver>

        <service android:name=".widget.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>